
$medium-screen: 750px;
$larger-screen: 1000px;

$dark: #011827;
$light: #8ACFE5;
$blue: #36769D;
$red: #E3170A;
$gray: #B6BDB5;

body {
    margin: 0;
    padding: 0;
    font-family: 'roboto', sans-serif;
    font-size: 24px;
    font-weight: 700;
    box-sizing: border-box;
    button {
        border-style: none;
        border-radius: 3px;
        margin: 0;
    }
}

.header {
    background-color: $dark;
    width: 100%;
    color: white;
    height: 144px;
    display: flex;
    flex-direction: column;

    @media  screen and (min-width: $larger-screen) {
        height: 216px;
    }
    

    div {
        margin-top: auto;
        margin-bottom: auto;
        display: flex;
        justify-content: flex-start;

        @media screen and (min-width: $larger-screen){
            align-items: center;
            margin: 0;
        }
        
    }
    
    h1{
        font-size: 1em;
        font-weight: 700;
        max-width: 78px;
        max-height: 84px;
        margin: 0;

        @media screen and (min-width: $larger-screen) {
            max-width: 404px;    
            font-size: 1.66em;
        }
    }
    img {
        margin: auto 10px;
        width: 128px;
        @media screen and (min-width: $larger-screen) {
            margin: 20px;
        }
    }
        
    ul{
            display: none;
            padding: 0;
            margin: auto 20px;
            list-style: none;
            font-size: 1em;
            font-weight: 700;
            @media  screen and (min-width: $larger-screen) {
                display: flex;
                justify-content: space-evenly;
            }
    }

    li:hover {
        color: $light;
        cursor: pointer;
    }

    @media screen and (min-width: $medium-screen) {
       
    }
}

.container_1 {
    background-color: white;
    width: 100%;

    .hero {
        width: 100%;
        height: 276px;
        background: url(Images/tech.png);
        background-size: cover;
        background-position: center;
        @media screen and (min-width: $larger-screen) {
            height: 480px;
        }
        @media screen and (min-width: $medium-screen) {
            height: 360px;
        }
    }

    .container_1_buttons {
        display: flex;
        justify-content: center;
        margin:30px auto;
        @media screen and (min-width: $larger-screen) {
            margin-top: 0;   
        }
    }

    .hero_buttons {
        @media screen and (min-width: $larger-screen) {
            transform:translateY(-50%);            
        }
    }

    .button_on-site {
        font-size: 1em;
        font-weight: 700;
        width: 308px;
        height: 66px;
        color: $dark;
        background-color: $light;
    }

    .button_online{
        display: none;
        @media screen and (min-width: $larger-screen) {
            display: block;
            font-size: 1em;
            font-weight: 700;
            width: 308px;
            height: 66px;
            color: white;
            background-color: $red;
            margin-right: 34px;
        }
    }

    a{  
        display: block;
        text-align: center;
        color: $blue;
        font-size: 0.66em;
        font-weight: 700;
        @media screen and (min-width: $larger-screen) {
            display: none;
        }
    }

    .container_1_reviews{
        margin: 50px auto;
        @media screen and (min-width: $larger-screen) {
            display: flex;
            justify-content: space-around;
            margin: 100px;
        }
    }

    .review_1 {
        display: grid;
        grid-template-columns: 1fr 3fr;
        font-weight: 400;
        font-style: italic;
        margin: auto 10px;

        p {
            margin: 0;
            margin-right: 10px;
        }

        small {
            margin-top: 10px;
            grid-column: 2/3;
            font-size: 0.66em;
        }

    }

    .review_image {
        max-width: 73px;
        margin-left: 50px;
    }

    .review_2 {
        display: none;

        @media screen and (min-width: $larger-screen) {
            display: grid;
            grid-template-columns: 1fr 3fr;
            font-weight: 400;
            font-style: italic;
            margin: auto 10px;

            p {
                margin: 0;
                margin-right: 10px;
            }
    
            small {
                margin-top: 10px;
                grid-column: 2/3;
                font-size: 0.66em;
            }
        }
    }

    h2 {
        display: block;
        text-align: center;
        font-weight: 400;
        font-size: 1.33em;
    }

    .img_carousel {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        width: 363px;
    }

    .star_img {
        max-width: 16px;
    }

    .cards_carousel {
        display: flex;
        width: 100%;
        height: 500px;
        flex-direction: row;
        justify-content: flex-start;
        overflow-x: scroll;
        gap: 30px;

        @media screen and (min-width: $larger-screen) {
            display: flex;
            justify-content: space-around;
            margin-top: 100px;
            margin-bottom: 85px;
        }
        
    }

    .cards_carousel::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

    .carousel_card {
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        border-radius: 8px;
        width: 363px;
        height: 446px;
        
        

        h3 {
            margin-top: 5px;
            margin-bottom: 5px;
            margin-left: 10px;
            font-size: 1.166em;
            font-weight: 400;
        }

        p{  
            margin-left: 10px;
            margin-right: 10px;
            font-size: 0.75em;
            font-weight: 400;
            
        }

        small {
            font-weight: 400;
            margin-left: 10px;
            font-size: 0.583em;
        }

        button {
            float: right;
            margin-right: 10px;
            font-size: 0.66em;
            font-weight: 700;
            width: 180px;
            height: 44px;
            color: white;
            background-color: $red;
            border-radius: 3px;

        }
    }

    .img_1 {
        margin-left: 10px;
    }
    .card_1 {
        margin-left: 52px;
    }

    .dark_container {
        margin-top: 70px;
        display: flex;
        flex-direction: column;
        background-color: $dark;
        height: 500px;
        width: 100%;
        color: white;
        align-items: center;

        p{
            margin-top: 95px;
            text-align: center;
            font-size: 1.166em;
            font-weight: 400;
            margin-right: 15px;
            margin-left: 15px;

            @media screen and (min-width: $larger-screen) {
                margin-top: 125px;
                width: 630px;
            }
        }
        
        button {
            font-size: 1em;
            font-weight: 700;
            width: 308px;
            height: 66px;
            border:solid $light;
            border-radius: 3px;
            color: $light;
            background-color: $dark;
            
        }
    }

    .container_2 {

        h2 {
            text-align: start;
            font-size: 1.33em;
            font-weight: 700;
        }

        p{
            margin-top: 0;
            font-size: 1em;
            font-weight: 400;
        }

        button {
            margin-top: 30px;
            font-size: 1em;
            font-weight: 700;
            width: 308px;
            height: 66px;
            border-radius: 3px;
            color: white;
            background-color: $red;
        }

        img {
            width: 100%;
        }

        @media screen and ( min-width: $larger-screen) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
        }
    }

    .right_container_2 {

        margin-right: 20px;
        margin-left: 20px;
        margin-bottom: 70px;
        display: flex;
        flex-direction: column;

        @media screen and (min-width: $larger-screen) {
            width: 420px;
        }
    }



    .woman {

        @media screen and (min-width: $larger-screen) {
            grid-column: 2;
            grid-row: 2;
        }
    }

    .left_container_2 {

        margin-right: 20px;
        margin-left: 20px;
        margin-bottom: 70px;
        display: flex;
        flex-direction: column;

        @media screen and (min-width: $larger-screen) {
            width: 420px;
            margin-left: auto;
            margin-right: auto;
        }
        

    }

}

footer {
    background-color: $dark;
    color: white;
    width: 100%;
    max-height: 566px;
    font-size: 0.75em;

    .text_footer {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
    }

    h3 {
        margin-top: 40px;
        margin-bottom: 0;
        font-weight: 700;
        
    }

    p{
        margin-top: 5px;
        font-weight: 400;
    }

    ul {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        font-weight: 400;
        margin-top: 15px;
    }

    a{
        color: white;
        text-decoration: none;
        font-weight: 400;
    }

    .online {
        margin-top: 15px;
    }

    .facebook {
        margin-top: 15px;
    }

    .twitter {
        margin-bottom: 60px;
    }
}